
body,html {
    
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.canvas {
    flex: 1 1 auto;
    position: relative;
}

.circle, .square {
    border: 1px solid black;
    opacity: 0.5;
    position: absolute;
}

.circle {
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    opacity: 0.5;
    position: absolute;
}
